# Python Bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Python Virtual Environments
venv/
.env/
env/

# Poetry 
poetry.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE or editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.ncb
*.DS_Store
*.vscode/

# Environment variable files
.env

# Pytest cache
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.log
*.tmp
*.swp
*.swo

# C extensions
*.so

# Distribution / Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script and should be ignored
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.log
*.tmp

# mypy
.mypy_cache/
.dmypy.json

